body {
    font-size: 14px;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo {
    width: 272px;
    height: 92px;
}
.sub-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    margin: 20px 5px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    color: #3c4043;
}
button:hover {
    border-color: #cccccc;
    box-shadow: 0 1px 5px rgba(0,0,0,0.19);
}
#search-bar {
    width: 200%;
    border-radius: 20px;
    height: 40px;
    border: 1px solid #dfe1e5;
    padding: 0px 20px;
    margin-top: 20px;
}
#search-bar:hover {
    box-shadow: 0 1px 5px rgba(0,0,0,0.19);
}
#search-bar:focus {
    outline: none;
}
header {
    display: flex;
}
#left {
    display: flex;
    align-items: center;
    width: 50%;
}
#right {
    width: 50%;
    text-align: right;
    font-size: 13px;
    font-family: arial;
}

#right ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul {
    margin: 0;
    padding: 20px;
    list-style-type: none;
}
nav li {
    display: inline-block;
    margin: 0 10px;
}
header a {
    color: #222;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: repeat(3, 33%);
}
footer a {
    color: #70757a;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 5px;
}
#bottom-middle {
    margin: 0 auto;
    display: flex;
    align-items: center;
}
#bottom-middle a img {
    margin-right: 5px;
}
#bottom-right {
    text-align: right;
}
#carbon:hover {
    text-decoration: underline;
}
.gb_Ve {
    color: black;
    opacity: 1;
}
#profile {
    border-radius: 50%;
}
#profile:hover {
    box-shadow: 0 0px 0px 5px #e6e6e6;
}


@media (max-width: 1200px) {
    footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "top top"
            "left right";
    }
    footer a {
        margin: 0;
    }
    #bottom-middle {
        grid-area: top;
    }
    #bottom-left {
        grid-area: left;
    }
    #bottom-left ul {
        padding-right: 0;
        
    }
    #bottom-right {
        grid-area: right;
    }
}

@media (max-width: 664px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "top"
            "middle"
            "bottom"
    }
    #bottom-left {
        grid-area: middle;
        text-align: center;
    }
    #bottom-left ul{
        padding-right: 20px;
    }
    #bottom-right {
        grid-area: bottom;
        text-align: center
    }
    #bottom-middle {
        grid-area: top;
    }
    #search-bar {
        width: 140%;
    }
}

@media (max-width: 482px) {
    #search-bar {
        width: 100%;
    }
}